# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
myenv/
pytorch_env/

# VS Code
.vscode/

# Dataset files
ANN/data/
*.csv
*.zip
*.parquet
*.h5
*.hdf5
*.pkl
*.joblib

# Model files
*.pt
*.pth
*.ckpt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db